// Breakpoint
$breakpoint-lg: 1200px; // 대형 데스크톱
$breakpoint-md: 992px;  // 중간 데스크톱
$breakpoint-sm: 768px;  // 태블릿
$breakpoint-xs: 480px;  // 모바일

$font-family: "KiaSignatureFixRegular", "맑은고딕", "Apple SD Gothic Neo", Dotum, "돋움", sans-serif;


