.faq_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* 데이터가 없는 경우 */
.no_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    color: #999;
    border-bottom: 1px solid var(--gray-200);
}

.no_data_icon {
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}

.no_data_text {
    font-size: 14px;
    color: #666;
}