@import '@/styles/style.scss';

.processGuide {
    max-width: inherit;
    margin: 40px auto;
    text-align: center;
}

/* 제목 스타일 */
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #222;
}

/* 단계 컨테이너 */
.stepsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* 각 단계 */
.step {
    flex: 1 1 calc(25% - 100px); /* 4열 기본 */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stepIcon {
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
}

.stepContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stepTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    white-space: nowrap;
}

.stepDescription {
    font-size: 12px;
    color: #666;
    line-height: 1.6;
    text-align: center;
}

/* 꺽쇠 화살표 */
.arrow {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}


@include breakpoint(sm) {
    .stepsContainer {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    .title{
        text-align: left;
    }
    .step {
        flex-direction: row;
        align-items: center;
        text-align: left;
        gap: 20px;
    }

    .stepIcon {
        margin-bottom: 0;
    }

    .stepContent {
        align-items: flex-start;
    }

    .arrow {
        display: none;
    }
}